body,
main {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100dvh;
  position: relative;
}

main,
.task-list {
  flex: 1;
}

footer > p {
  margin-bottom: 0.25rem;
}

/** task list */
.task-list__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tl__header-title {
  margin-bottom: 0;
}

.task-list__empty {
  text-align: center;
}

/** general component styling */

.badge,
#task-creator__open {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** badge component */

.badge {
  background: rgb(32, 96, 223);
  color: white;
  padding: 0.125rem 0.625rem;
  border-radius: 100%;
  font-weight: 700;
}

/** task creator component */

#task-creator__open {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100%;
  padding: 1rem;
  font-size: 1.25rem;
}
